{% extends 'customer/base.html' %}


{% block main %}
<main class="main">
    <form action="" method='get' class="main__form">
        <input name='q' type="text" placeholder="Search...">
    </form>
    <div class="main__list-results">
        <ul>
            {% if context %}
            {% for value in context  %}
            <li>
                {value.dba}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

</main>


{% endblock main %}



{% block footer %}
{% endblock footer %}
