{% extends 'customer/base.html' %}


{% block main %}

    <form action="{% url 'customer:customer-list' %}" method='get' class="main__form">
        <input name='q' type="text" placeholder="Search...">
    </form>
    <div class="main__list-results">
        <ul>

            {% if context %}
            {% for value in context  %}
            <li>
                <a href="{% url 'customer:customer-detail' value.slug %}">{{ value.dba }}</a> {{value.industry}}

            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}



{% endblock main %}



{% block footer %}
{% endblock footer %}
