


<span  id="address-form">
    <form hx-post="{% url 'customer:test-address-create'  %}">
        {% csrf_token %}
        <table border="1" >
        {% for field in address_form.visible_fields %}
            <tr>
            <th>{{ field.label_tag }}</th>
            <td>
                {{ field.errors }}
                {{ field }}
                {{ field.help_text }}
            </td>
            </tr>
        {% endfor %}
        </table>
        {% if address %}
        <input type="submit" name='address_data' value="Update Address" hx-target="#address-form" hx-swap:"outerHTML" ></input>
            {% else %}
            <input type="submit" name='address_data' value="Save Address" hx-target="#address-form" hx-swap:"outerHTML"  ></input>
        {% endif %}
    </form>
    {{ customer.slug }}
</span>
