
// Colors
$white-white: hsl(0, 0%, 100%);
$background-accent: hsl(215, 55%, 75%);
$background-white: hsl(215, 25%, 85%);
$text-black: hsl(215, 20%, 20%);
$primary-blue: rgb(66, 139, 240);
$secondary-blue: hsl(215, 85%, 85%);
$border-gray: hsl(215, 15%, 60%);


// Media Queries
$tablet-portrait: "only screen and (min-width: 600px)";
$tablet-landscape: "only screen and (min-width: 768px)";
$desktop-width: "only screen and (min-width: 992px)";


//alternate colors
// $alt-purple: #9c89b8;
// $alt-pink: #f0a6ca;
// $alt-lt-pink: #efc3e6;
// $alt-white: #f0e6ef;
// $alt-blue: #b8bedd;
